*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FBFEF9;
}

h1 {
    color: blue;
}

.header {
    background-color: #9484D7;   
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}



section {
    border: 1px solid red;
}

#container {
    border: 1px dotted blue;

    background-color: #FBFEF9;

    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 1rem;
}

#project-form {
    display: flex;
    flex-direction: column;
  }

.selected-project {
    background-color: cadetblue;
}